body{
    margin:0;
    background: #5577A9;
    font-family: 'Source Sans Pro', sans-serif;
}
/* Домашняя страницы */
.Home{
    margin-left: 10%;
    margin-right: 10%;
    margin-top:5%;    
}

.Search{
    text-align: center;
}

.input-text{
    font-size: 25px;
    color:#ffffff;
    width: 25%;
    padding-left: 40px;
    background-color: #5577A9;
    background: url('./img/search.png') no-repeat 3px 1px;
    background-size: auto 90%;
    border: none;
    border-radius: 6px;
    border-bottom:6px solid #ffffffd5 ;
}

.input-text:focus{
    border-color: #ffffff;
}

.input-text:hover{
    border-color: #ffffff;
}
/* Карточки уровней */
.Lvl-box{
    display: flex;
    justify-content: space-around;
}

.lvlcard{
    width:290px;
    height: 200px;
    border:3px solid rgb(255, 255, 255);
    border-radius: 45px;
    padding-left:30px;
    padding-right: 30px;
    margin-top:120px;
}

/* Панель навигации */
.Nav-Link{
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.Link-Button{
    color:#ffffffd5;
    font-size: 24px;
    text-decoration: none;
    width:154px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ffffffd5 solid;
    border-radius: 2px;
}

.Link-Button:hover{
    border-color:#ffffff;
    color:#ffffff;
    
}
.Header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 125px;
    background: linear-gradient(90deg,
                                rgba(100, 97, 228, 59),
                                rgba(66, 160, 228, 70),
                                rgba(131, 191, 244, 52),
                                rgba(108, 71, 154, 25)
     );
    color:white;
}


/* Кнопка начала игры */
.button-start{
    height: 100px;
    width:400px;
    font-size: 60px;
    background-color: rgb(0, 132, 255);
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6);
    color:#ffffff;
    border:none;
    cursor: pointer;
    margin-bottom: 100px;
}
.button-start:hover{
    background-color: rgb(0, 174, 255);
    color:rgb(243, 234, 234);
}
.button-container{
    margin-top:200px;
    display: flex;
    justify-content: center;
}