.Nav-Link{
    width:40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.Link-Button{
    color:#FFFFFF;
    font-size: 24px;
    text-decoration: none;
    width:154px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:#FFFFFF solid;
}
.Header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 125px;
    background: linear-gradient(90deg,
                             rgba(100, 97, 228, 59),
                             rgba(66, 160, 228, 70),
                             rgba(131, 191, 244, 52),
                             rgba(108, 71, 154, 25)
     );
    color:white;
}


/* Кнопка начала игры */
.button-start{
    height: 100px;
    width:400px;
    font-size: 60px;
    background-color: rgb(0, 132, 255);
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6);
    color:#ffffff;
    border:none;
    cursor: pointer;
    margin-bottom: 100px;
}
.button-start:hover{
    background-color: rgb(0, 174, 255);
    color:rgb(243, 234, 234);
}
.button-container{
    margin-top:200px;
    display: flex;
    justify-content: center;
}