.Exp-card{
    width:350px;
    padding-top:100px;
    margin:0 auto;
    text-align: center;
}
.exp-text{
    font-size: 70px;
}

.ButtonGenExp{
    width:60px;
    height: 35px;
    font-size: 20px;
    background-color: greenyellow;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.ButtonGenExp:hover{
    background-color:rgb(89, 206, 43);
}


.ButtonVariable{
    background-color: #0084FF;
    color:white;
    width:15%;
    height:10%;
    border: none;
    border-radius: 3px;
    margin: 5px;
    font-size: 35px;
    cursor: pointer;
}
.flex-box{
    display: flex;
    justify-content: center;
}